@CHARSET "UTF-8";

html {
	height: 100%;
}

body {
  	font-family: Georgia;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
	background-attachment: fixed;
}

#header {
	display: inline-block;
	margin: 10px;
	vertical-align: top;
	text-align: left;
	color: rgb(255,255,255);
	background-color: rgb(176,229,95);
	padding: 15px;
	border-radius: 100px;
	box-shadow: -5px -5px #777777;
}


.forms {
	text-align: center;
}

input.button {
  	background-image: linear-gradient(to bottom left, #00ff00, #ffffff);
	width: 300px;
	margin: 0 auto;
}

img {
	border: 10px solid #7AE969;
	border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
}

a {
	text-decoration: none;
	color: white;
}

.video {
    display: inline-block;
    width: 150px;
    height: 75px;
    padding: 15px;
    margin: 10px;
    border: solid 5px #BAD78B;
    border-radius: 100px;
	text-align: center;
}